<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Self-Vue</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>

  <div class="nav-bar"></div>



  <div id="app">

    <div class="product">

      <div class="product-image">
        <!-- <img v-bind:src="image" v-bind:alt="altText"> -->
        <img :src="image" :alt="altText">
      </div>

      <div class="product-info">
        <h1>Product: {{ product }}</h1>
        <p>Description: {{ description}}</p>
        <a :href="link" target="_blank">More products like this</a>

        <p v-if="inStock">In Stock</p>
        <p v-else>Out of Stock</p>

        <p v-if="inventory > 10">In Stock</p>
        <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
        <p v-else>Out of stock</p>


        <p v-show="inStock">In Stock</p>

        <span v-show="onSale">On Sale!</span>

        <h3>Product’s details:</h3>

        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <h3>Sizes:</h3>
        <ul>
          <li v-for="size in sizes">{{ size }}</li>
        </ul>

        <div v-for="variant in variants" :key="variant.variantId">
          <p>{{ variant.variantColor }}</p>
        </div>

        
      </div>

    </div>

  </div>





  <script src="../bower_components/vue/dist/vue.js"></script>
  <script src="main.js"></script>

</body>

</html>